@{
    ViewBag.Title = "ViewUsuario";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2 style="text-align: center; margin-top: 50px;margin-bottom:50px " >Bienvenido al SIPYME </h2>
<img src="~/Imagenes/inicioSesion.JPG" alt="Sistema de Patentes San Pablo" style="width: 100%; height: auto;">


